# Dropping the Classification and Application Type columns, adding more neurons and 2 layers.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
app_df_new = application_df.drop(columns=["EIN", "NAME", "CLASSIFICATION", "APPLICATION_TYPE"])
app_df_new

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,ProductDev,Association,1,0,N,5000,1
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...
34294,Independent,ProductDev,Association,1,0,N,5000,0
34295,CompanySponsored,ProductDev,Association,1,0,N,5000,0
34296,CompanySponsored,Preservation,Association,1,0,N,5000,0
34297,Independent,ProductDev,Association,1,0,N,5000,1
34298,Independent,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
y_new = app_df_new['IS_SUCCESSFUL']
X_new = app_df_new.drop(columns='IS_SUCCESSFUL')

In [4]:
# Convert categorical data to numeric with `pd.get_dummies`
X_new = pd.get_dummies(X_new)
X_new

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [5]:
len(X_new.columns)

28

In [6]:
# Split the preprocessed data into a training and testing dataset
X_train_new, X_test_new, y_train_new, y_test_new = train_test_split(X_new, y_new, random_state=1)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler_new = scaler.fit(X_train_new)

# Scale the data
X_train_scaled_new = X_scaler_new.transform(X_train_new)
X_test_scaled_new = X_scaler_new.transform(X_test_new)

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
 # Define the deep learning model 
nn_model_new = tf.keras.models.Sequential()

# First hidden layer
nn_model_new.add(tf.keras.layers.Dense(units=300, activation="relu", input_dim=28))

# Second hidden layer
nn_model_new.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Third hidden layer
nn_model_new.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Fourth hidden layer
nn_model_new.add(tf.keras.layers.Dense(units=100, activation="relu"))

# Output layer
nn_model_new.add(tf.keras.layers.Dense(units=1, activation="tanh"))

# Check the structure of the model
nn_model_new.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 300)               8700

 dense_6 (Dense)             (None, 100)               30100

 dense_7 (Dense)             (None, 100)               10100

 dense_8 (Dense)             (None, 100)               10100

 dense_9 (Dense)             (None, 1)                 101

=================================================================
Total params: 59,101
Trainable params: 59,101
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn_model_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
fit_model_new = nn_model_new.fit(X_train_scaled_new, y_train_new, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 4ms/step - loss: 0.6255 - accuracy: 0.6879
Epoch 2/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6062 - accuracy: 0.6964
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6064 - accuracy: 0.6965
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6039 - accuracy: 0.6967
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6057 - accuracy: 0.6974
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6114 - accuracy: 0.6966
Epoch 7/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6111 - accuracy: 0.6968
Epoch 8/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6108 - accuracy: 0.6975
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6020 - accuracy: 0.6971
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6016 - accuracy: 0.6969
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6012 - accuracy: 0.6984
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6009 - accuracy: 0.6989
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6007 - accuracy: 0.6981
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6007 - accuracy: 0.6995
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6001 - accuracy: 0.6986
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6003 - accuracy: 0.6987
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6005 - accuracy: 0.6985
Epoch 18/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6011 - accuracy: 0.6996
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5998 - accuracy: 0.6993
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6000 - accuracy: 0.6989
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5997 - accuracy: 0.6987
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5998 - accuracy: 0.6993
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5998 - accuracy: 0.6997
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5993 - accuracy: 0.6999
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.6999
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5990 - accuracy: 0.6996
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.7003
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5991 - accuracy: 0.6995
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5989 - accuracy: 0.7004
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.6994
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.7012
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5993 - accuracy: 0.7001
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5991 - accuracy: 0.7005
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5988 - accuracy: 0.7012
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5988 - accuracy: 0.6993
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5986 - accuracy: 0.7000
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5983 - accuracy: 0.7005
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5984 - accuracy: 0.7011
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5986 - accuracy: 0.7006
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5983 - accuracy: 0.6999
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5982 - accuracy: 0.7011
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5989 - accuracy: 0.7009
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5985 - accuracy: 0.7009
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5981 - accuracy: 0.6999
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5980 - accuracy: 0.7002
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5983 - accuracy: 0.7009
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5981 - accuracy: 0.7007
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6028 - accuracy: 0.6999
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5997 - accuracy: 0.6999
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5982 - accuracy: 0.7005

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model_new.evaluate(X_test_scaled_new,y_test_new,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5987 - accuracy: 0.6994 - 515ms/epoch - 2ms/step
Loss: 0.5987251996994019, Accuracy: 0.6993585824966431

In [14]:
# Export our model to HDF5 file
nn_model_new.save('model.h5')